PORT=3003

DATABASE_URL=postgresql://leilaovivo:leilaovivo@localhost:5433/notificacoes

RABBITMQ_URL=amqp://guest:guest@localhost:5672
RABBITMQ_QUEUE=leilaovivo.eventos

CARTEIRA_URL=http://localhost:3002
SERVICE_KEY=chave-secreta-entre-servicos

JWT_SECRET=troque_isso_por_um_segredo_forte_antes_de_qualquer_apresentacao

SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=coloque_seu_usuario_mailtrap
SMTP_PASS=coloque_sua_senha_mailtrap
SMTP_FROM="LeilaoVivo <no-reply@leilaovivo.com>"
